<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_us_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{170,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>about_us_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,52},{170,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>fly.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,52},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>heart_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,125},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>heart_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,125},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>home_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,125},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>home_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,198},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>leaf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,198},{52,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,82}}</string>
                <key>sourceSize</key>
                <string>{52,82}</string>
            </dict>
            <key>leaf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,198},{52,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,82}}</string>
                <key>sourceSize</key>
                <string>{52,82}</string>
            </dict>
            <key>small_item_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,198},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>small_item_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,281},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>start_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,281},{170,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>start_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,332},{170,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_menu.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:346615443cadc8c4898d8d6117d1523d:1/1$</string>
            <key>textureFileName</key>
            <string>main_menu.png</string>
        </dict>
    </dict>
</plist>
